{{#each alumnos}}
<p>NombreAlumno: {{NombreAlumno}}<br>
ApellidoAlumno: {{ApellidoAlumno}}<br>
Domicilio: {{Domicilio}}<br>
CursoAlumno: {{CursoAlumno}}<br>
DivisionAlumno: {{DivisionAlumno}}<br>
TurnoAlumno: {{TurnoAlumno}}<br>
FechaNacAlumno: {{FechaNacAlumno}}<br>
EmailAlumno: {{EmailAlumno}}<br>
Codigo postal: {{cod_postal}}<br>
Grupo Sanguineo: {{grupo_sang_alumno}}<br>
Telefono Fijo: {{tel_fijo_alumno}}<br>
Telefono Movil: {{tel_movil_alumno}}<br>
DNI: {{dni_alumno}}<br>
</p>
{{/each}}

<a href="/">Retornar</a>